.allFeedbacksSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.cardRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
margin: 20px 0px 20px 0px;

}
.feedbackCard{
    width: 100%;
}
.cardRow>*{
    margin-left: 20px;
}
.cardRow > div{
    width: 90%;
}
.cardRow>div>p{
    text-align: left;
   padding-right: 10px;
}
.divider{
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    margin: 20px 0px 20px 0px;

}

@media (max-width: 500px){
   
    .cardRow>Avatar{
        margin-left: 5px;
    }
    .cardRow>div{
        margin-left: 10px;
       
    }
    .cardRow>div>h5{
        font-size: 15px;
        font-weight: bold;
    }
}