.buttonDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    align-items: center;
    justify-content: space-evenly;
}
.textDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.textDiv>p{
    text-align: center;
}
.signupDiv{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}